<h4> Facturado </h2>
<% if @facturas.blank? %>
  <p> No hay facturas registradas. </p>
<%else%>
  <table class="table table-condensed">
    <tr>
      <th> Detalle factura</th>
      <th> Monto </th>
    <tr>
  <%@facturas.each do |f|%>
    <tr>
      <td> <%=  f.detalle%> </td>
      <td class="monto" > <%=  f.monto%> </td>
    </tr>
  <%end%>
  </table>
<%end%>
</div>
<div>
  <h4> Por Cobrar Vencido</h4>
<% if @dudoso.blank? %>
  <p> No hay facturas registradas </p>
<%else%>
  <table class="table table-condensed">
    <tr>
      <th> Detalle factura</th>
      <th> Monto </th>
    <tr>
  <%@dudoso.each do |f|%>
    <tr>
      <td> <%=  f.detalle%> </td>
      <td class="monto" > <%= f.monto %> </td>
    </tr>
  <%end%>
  </table>
<%end%>
</div>
<h4> Por Cobrar No Vencido</h4>
<% if @no_vencido.blank? %>
  <p> No hay facturas registradas. </p>
<%else%>
  <table class="table table-condensed">
    <tr>
      <th> Detalle factura</th>
      <th> Monto </th>
    <tr>
  <%@no_vencido.each do |f|%>
    <tr>
      <td> <%=  f.detalle%> </td>
      <td class="monto" > <%=  f.monto%> </td>
    </tr>
  <%end%>
  </table>
<%end%>
</div> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
 $(function () {
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'chart',
        type: 'line',
        marginRight: 130,
        marginBottom: 25
      },
      title: {
        text: 'Facturacion Promedio Mensual',
        x: -20
      },
      xAxis: {
        categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
          'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
      },
      yAxis: {
        title: {
          text: 'Euros(Miles)'
        },
        plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
        }]
      },
      tooltip: {
        formatter: function() {
          return '<b>'+ this.series.name +'</b><br/>'+
            this.y +' euros';
        }
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -10,
        y: 100,
        borderWidth: 0
      },
      series: [{
        name: 'Facturado',
        data: <%= @total_facturado %>
      }, {
        name: 'Cobrado',
        data: <%= @cobrado_mensualmente %>
      }]
    });
  });
});
</script>

